:root {
  --d-button-border-radius: 100px;
  --d-nav-pill-border-radius: 100px;
  --d-input-border-radius: 25px;
  --topic-body-width: 900px;
}

@mixin custom-card {
  box-sizing: border-box;
  padding: 0.75em;
  //border-radius: 0.25em;
  border: 1px solid var(--redditish-border-color);
  background: var(--secondary);
  // .discourse-no-touch & {
  //   // &:hover {
  //   //   border: 1px solid var(--redditish-border-highlight-color);
  //   // }
  // }
}

@mixin custom-topic-width {
  width: calc(100% - 8em);
  @media screen and (max-width: 924px) {
    width: 100%;
  }
}

@import "badges";
@import "categories";
@import "category-banner";
@import "category-boxes";
@import "chat";
@import "composer";
@import "groups";
@import "header";
@import "right-sidebar";

@import "select-kit";
@import "tag";
@import "topic";
@import "topic-list";
@import "user";

body {
  background: var(--redditish-bg-color);
  background-image: none; /* overrides category bg because we use it for banners instead */

  &:not(.has-sidebar-page) {
    .sidebar-wrapper {
      background: var(--redditish-bg-color);
    }
  }

  /* pepesilva.jpg */
  &.tags-page,
  &[class*="navigation-"]:not([class*="archetype-"]),
  &[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      grid-template-areas:
        "category-banner category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";
      grid-template-columns: var(--d-sidebar-width) 1fr minmax(0, 640px) 312px 1fr var(
          --d-sidebar-width
        );
      grid-template-rows: auto 1fr;
      gap: 0 1.5em;

      @media screen and (max-width: 1500px) {
        grid-template-columns: auto 1fr minmax(0, 640px) 312px 1fr auto;
      }


      @media screen and (max-width: 768px) {
        gap: 0.18em;  //gaps from left and right side of screen 768px is mobile 
      }
    }
  }

  &.has-sidebar-page.tags-page,
  &.has-sidebar-page[class*="navigation-"]:not([class*="archetype-"]),
  &.has-sidebar-page[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      grid-template-areas:
        "sidebar category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";


    }
  }

  &[class*="user-"],
  &.archetype-regular {
    .custom-tag-banner,
    .custom-category-banner,
    .custom-right-sidebar {
      display: none;
    }
  }

}

.btn-default,
.btn-primary,
.btn {
  &:not(.btn-icon):not([class*="popup-menu-btn"]) {
    padding: 0.5em 1em;
  }
}

.btn[class*="popup-menu-btn"] {
  border: none;
}

#main-outlet {
  max-width: 640px;
  margin: 0 auto;
  grid-area: content;
}

#banner {
  @include custom-card;
}

.sidebar-wrapper .sidebar-container {
  border-right: 1px solid var(--redditish-border-color);
  // &:hover {
  //   border-color: var(--redditish-border-highlight-color);
  // }
}

.sidebar-section-wrapper
  .sidebar-section-header.sidebar-section-header-collapsable {
  padding-left: 0;
}

.sidebar-section-link-wrapper button {
  border-radius: 0;
  padding: 0 var(--d-sidebar-row-horizontal-padding) !important; // overrides button specificity
}

.add-to-sidebar {
  .d-icon-star {
    color: var(--tertiary);
  }
}

.admin-content {
  @include custom-card;
}

.body-page {
  @include custom-card;
}

.powered-by-discourse {
  border: 1px solid var(--primary-500);
  grid-area: content;
  align-self: end;
}

// makes some room for "powered by discourse"

#main-outlet {
  padding-bottom: 2em;
}

html.composer-open #main-outlet {
  padding-bottom: var(--composer-height);
}






























// //custom font - reddit sans
// @font-face {
//   font-family: 'Reddit Sans';
//   src: url('RedditSans[wght].woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// body {
//     font-family: 'Reddit Sans';
//     font-size: .875rem;
//     h1{
//       font-size: 2rem;
//     }
//     h2{
//       font-size: 1.125rem;
//     }
// }

//main outlet shifting to the left when zooming in fix



//fix for sidebar wrapper appearing when large screen size
.sidebar-wrapper{
    display: none;
}
@media screen and (max-width: 1500px) {
    .sidebar-wrapper{
        display: block;
    }
}

//hide headersearch thing
.custom-search-banner .search-menu {
  display: none;
}


// move right side bar down
.custom-right-sidebar{
  padding-top: 13.5em; 
}

.custom-right-sidebar_welcome > a{
  text-decoration: underline;
}

//make header banner text bigger
.custom-search-banner h1 {
  font-size: 2.75em;
  font-weight: bold;
}
.custom-search-banner p {
  font-size: 1em;
}

//before header top bar thing
.before-header-panel-outlet {
  margin: 0;
  margin-left: 15vw;
  display: flex !important;
  flex: 1;
  // grid-template-columns: auto auto !important;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0;
  width: 100%;
  max-width:  55vw;
  padding: 0;
  align-items: center;
  // overflow: hidden;
}
.floating-search-input{
  width: 30vw;
  margin-right: 7vw;
}
.search-menu{
  border-radius: 10px;
  border-color: var(--tertiary);
  color: var(--tertiary);
}
.btn .no-text .btn-icon .show-advanced-search,
.btn .no-text .btn-icon .btn .search-icon{
  color: var(--tertiary);
}

.fk-d-button-tooltip {
  display: inline-flex;
  align-items: flex-end;
  width: 15vw;
}

.d-icon-plus{
  color: var(--secondary);
}

.search-term::placeholder{
  display: none;
}


.d-icon-sliders,
.d-icon-bars,
.d-icon-d-chat,
.d-icon-sun,
.d-icon-moon{
  color: var(--tertiary);
  transition: var(--d-selected);
}

.d-header .before-header-panel-outlet{
  display: block;
  grid-area: unset;
}


//topic listing changes
.custom-topic-layout{
  h2{
    color: var(--tertiary) !important;
  }
  border-radius: 15px !important;
}

//category listing boxes
.custom-category-boxes:not(.above-discovery-categories-outlet) {
  grid-gap: 0.75em !important;
}
.custom-category-header{
  color: var(--tertiary);
  font-weight: bolder;
  border-bottom: 5px solid var(--tertiary) !important;
}
.category-box-inner,
.custom-right-sidebar_category-about{
  background-color: var(--d-selected);
  h3, h4{
    color: var(--tertiary);
  }
}
.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-logo.no-logo-present {
  width: 150px !important;
}
.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner {
  column-gap: 30px;
}



.custom-post-bar{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.custom-post-bar > a{
  margin-top: 0;
  align-self: flex-start;
}
.custom-post-bar,
.custom-right-sidebar_recent-topics-wrappper,
.discovery-navigation-bar-above-outlet .custom-post-bar,
#navigation-bar{
  border: 5px solid var(--d-selected);
  border-radius: 15px;
}
.custom-post-bar-contents input {
  background-color: var(--d-selected);
  padding-bottom: 4em;
  border-radius: 15px;
}


//background color thing circle thing
html {
  
//   body:not(.no-ember) {
//     background: linear-gradient(
//         0deg,
//         rgba(var(--primary-rgb), 0.075) 0%,
//         rgba(var(--primary-rgb), 0.075) 100%
//       ),
//       linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%) !important;
//   }
  
  .background-container {
    position: absolute !important;
    top: -40%;
    left: 0;
    height: 100vh !important;
    width: 100vw !important;
    //z-index: -1;

    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%
    );
    clip-path: polygon(
      0% 30%, /*topleft, topright, bot right, bot left*/
      100% 10%,
      100% 72.5%,
      0% 95%
    );
    opacity: 0.9;
  }
  
  
//   body.no-ember .background-container {
//     display: none;
//   }
}

body{
    background: none !important;
}



html{
  background-image: url($bg_image);
  background-repeat: no-repeat;
 // background-color: rgba(130, 130, 130, 0.9);
//   background-color: rgba(var(--bg-overlay-color), 0.9);

  background-blend-mode: overlay;
  background-attachment: fixed !important;
  background-color: rgba(var(--bg-overlay-color), var(--bg-overlay-opacity)) !important;

  .cat-image {
    src: url($maincat_image);
    position: absolute;
    bottom: calc(100vh * 0.275);
    right: 5%;
    width: 200px;
    transform: translateY(50%);
    z-index: 10;
  }
}

